<div id="wrapper">
  <div class="breadcrumb-wrap">
    <div class="container">
      <div class="row">
        <ul class="breadcrumb">
          <li>
            <a href="#">Trang chủ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#">
              <span>Điện Thoại - Máy Tính Bảng</span> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Iphone XS MAX</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <main id="main" class="main-content">
    <div class="flex-row container">
      <div class="single-content bg-white clearfix">
        <div class="col-md-4 float-left">
          <div class="product-image">
            <%= image_tag "product/product5.jpg" %>
          </div>
        </div>
        <div class="col-md-8 float-left">
          <div class="description-product">
            <div class="description-item-box">
              <h1>
                <span>Máy Giặt Sấy Cửa Ngang Inverter Electrolux EWW12853</span>
              </h1>
            </div>
            <div class="product-brand-box">
              <div class="brand-rating">
                <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span class="comment-rating">(6 đánh giá)</span>
              </div>
              <div class="product-trademark">
                <h6>Thương hiệu : </h6>
                <p>
                  <a target="_blank" href="http://tiki.vn/thuong-hieu/electrolux.html">Electrolux</a>
                </p>
              </div>
              <div id="product-sku">
                <h6>SKU: </h6>
                <p>9505746995593</p>
              </div>
            </div>
            <div class="product-info">
              <div class="col-md-7 pl-0 float-left">
                <div class="product-price">
                  <p>
                    <span>Giá bán :</span>
                    <span class="flat-price">
                      1.190.000 ₫
                    </span>
                  </p>
                  <p>
                    <span class="price-label">Tiết kiệm:</span>
                    <span id="span-discount-percent" class="discount-percent">38%</span>
                    <span id="span-saving-price">
                      (650.000&nbsp;₫)
                    </span>
                  </p>
                  <p class="old-price-item" data-value="1700000" id="p-listpirce">
                    <span class="price-label">Giá thị trường:</span>
                    <span id="span-list-price">1.700.000&nbsp;₫</span>
                  </p>
                </div>
                <div class="des-produtc-info clearfix">
                  <p>Thiết bị Stream không dây thế hệ 2018</p>
                  <p>Độ phân giải 1080p ( Video Resolution )</p>
                  <p>Kết nối Wi-Fi (802.11ac, 5Ghz)</p>
                  <p>Dây HDMI đính kèm</p>
                  <p>Điều khiển từ iPhone, iPad, thiết bị Android</p>
                </div>
                <div class="quantity">

                </div>
              </div>
              <div class="col-md-5 float-left"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
